* {
	font-family: 'Lato', sans-serif;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	display: flex;
	justify-content: center;
}

header {
	width: 100%;
	display: flex;
	justify-content: center;
	position: fixed;
	background-color: #56c4a3;
	box-shadow: 0px 3px 16px #cecece;
}

.nav {
	height: 64px;
	width: 80%;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}

.nav a {
  float: left;
  font-size: 20px;
  font-weight: 500;
  color: black;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

.drop-content {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  color: black;
  padding: 20px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropbtn:hover {
	background-color: #ddd;
}

.drop-content {
	display: none;
	position: absolute;
	background-color: #56c4a3;
	min-width: 100px;
	max-width: 250px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.drop-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.drop-content a:hover {
	background-color: #ddd;
}
.dropdown:hover .drop-content {
	display: block;
}

.line {
	background-color: #56c4a3;
	height: 1px;
	border: none;
}

.img {
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
}

h1 {
	 width: 80%;
	 text-align: center;
	 color: white;
	font-size: 50px;
}

.main-header {
	background-image: url(img/prewiew.jpg);
	display: flex;
	justify-content: center;
	align-items: center;
}

.main-content {
	padding: 20px 0 40px 0;
}

.cards {
	margin-bottom: 10px;
	text-align: justify;
	display: flex;
	justify-content: center;
}

.card {
	margin: 10px;
	border-radius: 15px;
	background-color: #9df5da;
}

.card-img {
	width: 100%;
	padding-bottom: 10px;
}

.card-header {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background-color: #56c4a3;
	text-align: center;
	font-size: 25px;
	font-style: 500;
	padding: 10px;
}

.card-big {
	width: 70%;
}

.card-low {
	width: 30%;
}

.card-img {
	display: flex;
	justify-content: center;
}

.card-text {
	padding: 10px;
	font-size: 20px;
}

.img-lang {
	padding-left: 10px;
}

.text-center {
	padding: 0 10px 10px 10px;
	text-align: center;
}

.develop {
	font-size: 20px;
	text-align: justify;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
}

.right-develop {
	font-size: 20px;
	display: flex;
	justify-content: left;
}

.code {
	padding-right: 10px;
	font-size: 17px;
}

.comm {
	font-size: 17px;
}

.quote {
	text-align: center;
	font-size: 20px;
	width: 80%;
	padding: 20px 0;
	margin-right: auto;
	margin-left: auto;
}

.block-title {
	text-align: center;
	font-size: 30px;
}

.text-header {
	font-weight: 500;
	font-size: 30px;
}

.mint-header {
	font-weight: 900;
	font-size: 20px;
	color: #56c4a3;
}

.tab-block {
	font-size: 20px;
	padding: 20px 0;
}

.tab-text i {
	font-weight: 500;
}

.tab-head {
	padding-bottom: 20px;
	text-align: justify;
}

.pad-up {
	padding-top: 20px;
}

.pad-down {
	padding-bottom: 20px;
}

.tab {
	border-radius: 15px;
	position: relative;
	margin-bottom: 1px;
	width: 100%;
	overflow: hidden;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #56c4a3;
  font-weight: 500;
  line-height: 3;
  cursor: pointer;
}
.blue label {
  background: #2980b9;
}
.tab-content {
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	max-height: 0;
	font-size: 17px;
	overflow: hidden;
	background: #6bedc6;
	-webkit-transition: max-height .35s;
	-o-transition: max-height .35s;
	transition: max-height .35s;
}
.blue .tab-content {
  background: #3498db;
}
.tab-text {
  text-align: justify;
  padding: 1em;
}

i {
	font-weight: 500;
}

.tab-code {
	text-align: justify;
	padding: 0 1em;
	font-weight: 500;
}

.tab-img-text {
	text-align: justify;
	padding: 1em 1em 0 1em;
}

.tab input:checked ~ .tab-content {
  max-height: 100vh;
}

.tab label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
.tab input[type=checkbox] + label::after {
  content: "+";
}
.tab input[type=radio] + label::after {
  content: "\25BC";
}
.tab input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
.tab input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}

.tab-card {
	display: flex;
	align-items: center;
}

.buttons {
	padding-top: 10px;
	display: flex;
	justify-content: space-between;
}

.gobtn {
	background-color: #56c4a3;
	border: none;
	font-size: 16px;
	font-weight: 500;
	padding: 20px 16px;
	transition: border-radius 0.5s ease-in;
}

button.gobtn a {
	color: black;
	text-decoration: none;
}

.gobtn:hover {
	border-radius: 30px;
}

.footer {
	width: 100%;
	height: 200px;
	background-color: #262626;
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
	color: #FFFFFF;
}