* {
	font-family: 'Lato', sans-serif;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*-------ACCORDION--------*/

.acc-develop {
	font-size: 20px;
	padding-bottom: 20px;
}

.accordion {
  background-color: #56c4a3;
  color: #black;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion:hover {
    background-color: #9df5da;
}

.active {
	background-color: #56c4a3;
}

.panel {
  margin-bottom: 2px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9df5da;
  padding: 18px;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: '+';
  font-weight: 500;
  font-size: 20px;
  color: black;
  float: right;
  margin-left: 5px;
}

.active:after {
	content: '-';
}

/*--------------*/

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

header {
	width: 100%;
	display: flex;
	justify-content: center;
	position: fixed;
	background-color: #56c4a3;
	box-shadow: 0px 3px 16px #262626;
}
.nav {
	height: 64px;
	width: 80%;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}

.nav a {
  float: left;
  font-size: 20px;
  font-weight: 500;
  color: black;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

.drop-content {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 20px;
	font-weight: 500;
	border: none;
	outline: none;
	color: black;
	padding: 20px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.dropbtn:hover {
	background-color: #ddd;
}

.drop-content {
	display: none;
	position: absolute;
	background-color: #56c4a3;
	min-width: 100px;
	max-width: 250px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 0;
}

.drop-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.drop-content a:hover {
	background-color: #ddd;
}
.dropdown:hover .drop-content {
	display: block;
}

.line {
	background-color: #56c4a3;
	height: 1px;
	border: none;
}

.img {
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
}

h1 {
	 width: 80%;
	 text-align: center;
}

.main-header {
	background-image: url(img/prewiew.jpg);
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	color: white;
	font-size: 50px;
}

.main-content {
	padding: 20px 0;
}

.galery {
	font-size: 20px;
	text-align: center;
}

.cards {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	display: inline-block;
}

.card-img {
	width: 100%;
}

.card-header {
	text-align: center;
	font-size: 20px;
}

.img-lang {
	padding-left: 10px;
}

.develop {
	font-size: 20px;
	text-align: justify;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
}

.develop-top {
	font-size: 20px;
	text-align: justify;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
}

.quote {
	text-align: center;
	font-size: 20px;
	width: 80%;
	padding: 20px 0;
	margin-right: auto;
	margin-left: auto;
}

.img-center {
	display: flex;
	justify-content: center;
}


.buttons {
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
}

.gobtn {
	border-radius: 10px;
	font-weight: 500;
	background-color: #56c4a3;
	border: none;
	font-size: 16px;
	padding: 20px 16px;
	transition: border-radius 0.5s ease-in;
}

button.gobtn a {
	color: black;
	text-decoration: none;
}

.gobtn:hover {
	border-radius: 30px;
}

.footer {
	width: 100%;
	height: 200px;
	background-color: #262626;
	font-size: 13px;
	font-weight: 400;
	line-height: 15px;
	color: #FFFFFF;
}

@media screen and (min-width: 1200px) {
	.main-content {
		width: 80%;
	}
}